
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XPRMNTS</title>
    {% load static %}

</head>

<body>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <div class="nah">
        <p>ЧТо за дичь?</p>
        <h1>Что надо сделать?</h1>
        <ol>
            <li><h2>Найти все тэги html</h2></li>
            <li><h2 class="chto">Все классы CSS</h2></li>
        </ol>
        <p>Найти <span>все</span> тэги html</p>
    </div>
    <div>
      <p>Кек</p>
    </div>
    <p>Кек</p>
<div class="nah">
    <p><span>.class</span> - Присваивает свойство всем тэгам с классом class</p>
    <p><span>tag.class</span> -Присваивает свойство всем тэгам tag с классом class</p>
    <p><span>tag. class</span> - Присваивает свойство всем тэгам  с классом class, находящимся внутри tag</p>
</div>

</body>
</html>
